.arrow {
  transform: scale(0.7);
  filter: opacity(0.5);
  transition: filter 0.5s ease-out, transform 0.5s ease-out;

  /* Prevent user to drag arrows */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.arrow:hover {
  transform: scale(0.8);
  filter: none;
}

.arrow:active {
  background: red;
}
