* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#slider {
  position: relative;
  width: 100%;
  height: 70%;
  max-height: 400px;
  /* background-color: #25406b; */

  display: flex;
  justify-content: center;
  align-items: center;
}

#slider > * {
  z-index: 1;
}

#slider-frames {
  /* background-color: red; */
  min-width: 100%;
  height: 90%;
  padding: 0 25%;

  position: absolute;
  left: 0;
  /* transition: left 0.2s ease-in-out; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 120px;
  z-index: 0;
}

.frame {
  width: 50vw;
  height: 90%;
  /* background: #c4c4c4; */
  filter: brightness(0.4) opacity(0.9);
  transition: filter 0.2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.frame.current {
  filter: none;
}

.frame img {
  width: 100%;
  height: 100%;
}

#frame-indicators {
  border-radius: 10px;
  background-color: rgba(61, 61, 61, 0.423);
  position: absolute;
  width: auto;
  height: auto;
  bottom: -20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
}

.indicator {
  width: 16px;
  aspect-ratio: 1/1;
  background-color: rgb(208, 208, 208);
  border-radius: 100%;
  border: 2px solid rgb(40, 40, 40);
  filter: brightness(0.4) opacity(0.9);
  transition: filter 0.2s ease-in-out;
}

.indicator.current {
  filter: none;
}

.arrow {
  width: 60px;
  height: 120px;
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.arrow#left {
  left: 5px;
}

.arrow#right {
  right: 5px;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow:active {
  background-color: rgb(185, 185, 185);
}
